<html>
    <head>
        <link href="https://papaya.greenant.net/css/papaya.css" rel="stylesheet" type="text/css"/>
        <script src="https://papaya.greenant.net/js/papaya.js" type="text/javascript">
        </script>
    </head>
    <body>
        <h1>
            https://github.com/rii-mango/Papaya
        </h1>
        https://papaya.greenant.net/demo_overlay/index.html
        <div style="width:600px; height:600px;">
            <div class="papaya" data-params="params">
            </div>
        </div>
    </body>
</html>